
.section {
font-family: 'Oxygen', sans-serif;
font-weight: 400;
}

img {
    max-width: 100%;
    height: auto;
}

.intro {
  font-size:250%;
  margin-left:50px;
  margin-top:20px;
  margin-bottom:40px;
  padding-left: 40px;
  padding-right: 60px;
}

.description {
  font-size:25px;
  line-height:40px;
  margin-left:50px;
  margin-top:20px;
  margin-bottom:40px;
  padding-left: 40px;
  padding-right: 60px;
}

.title {
  font-size: 60px;
  padding-left: 85px;
}

.pink {
  color:#E581B4
}

.qtext {
  font-size: 90px;
}

#quizbox{
  width:95%;
  height:95%;
  top:2.5%;
  left:2.5%;
  position: fixed;
  z-index: 100;
  display: none;
  padding:10px;
  color: #808080;
}

#quizbox #quiz{
  overflow-y: scroll;
}


@media (max-width:991px) {
  .intro{
    font-size:30px;
  }
  .title{
    font-size:45px;
  }
  .description{
    font-size:15px;
  }
  .qtext{
    font-size:35px;
  }

}

@media (max-width:991px){
  .intro{
    font-size:20px;
  }
  .title{
    font-size:15px;
  }
  .description{
    font-size:10px;
    line-height:15px;
  }
  .qtext{
    font-size:25px;
  }


}
