
.section {
font-family: 'Oxygen', sans-serif;
font-weight: 400;
}

.intro {
  font-size:250%;
  margin-left:50px;
  margin-top:20px;
  margin-bottom:40px;
  padding-left: 40px;
  padding-right: 60px;
}

.description {
  font-size:25px;
  line-height:40px;
  margin-left:50px;
  margin-top:20px;
  margin-bottom:40px;
  padding-left: 40px;
  padding-right: 60px;
}

.title {
  font-size: 60px;
  padding-left: 85px;
}

.pink {
  color:#E581B4
}

#quizbox{
  width:95%;
  height:95%;
  top:2.5%;
  left:2.5%;
  position: fixed;
  z-index: 100;
  background-color: #000000;
  display: none;
  padding:10px;
  color: #ffffff;
}

#quizbox .possible_answer{
  color: #000000;
}

#quizbox h3{
  color: #ffffff;
}

#quizbox .how_you_did{
  color: #000000;
}

#quizbox .btn-block{
  font-size:45px;
  height:10%;
}

#quizbox #quiz{
  overflow-y: scroll;
}

#quizbox .question{
  font-size: 60px;
}

@media (max-width:991px) {
  .intro{
    font-size:30px;
  }
  .title{
    font-size:45px;
  }
  .description{
    font-size:15px;
  }
}
