
.section {
font-family: 'Oxygen', sans-serif;
font-weight: 400;
}

#title-text {
  padding-left: 10%;
  font-size: 140px;
  line-height: 150px;
}

.intro {
  font-size:250%;
  margin-left:50px;
  margin-top:20px;
  margin-bottom:40px;
  padding-left: 40px;
  padding-right: 60px;
}

.description {
  font-size:25px;
  line-height:40px;
  margin-left:50px;
  margin-top:20px;
  margin-bottom:40px;
  padding-left: 40px;
  padding-right: 60px;
}

.title {
  font-size: 60px;
  padding-left: 85px;
}

.pink {
  color:#E581B4
}

.qtext {
  font-size: 90px;
}

#quizbox{
  width:100%;
  height:98%;
  bottom: 2%;
  position: fixed;
  z-index: 100;
  display: none;
  padding:10px;
  color: #808080;
}

#quizbox #quiz{
  overflow-y: scroll;
}


@media (max-width:1150px){
  #title-text {
    padding-left: 10%;
    font-size: 90px;
    line-height: 100px;

}


@media (max-width:991px){
  .intro{
    font-size:20px;
  }
  .title{
    font-size:15px;
  }
  .description{
    font-size:10px;
    line-height:15px;
  }
  .qtext{
    font-size:25px;
  }

img {
  width: 62% !important;
}

#title-text {
  padding-left: 10%;
  font-size: 70px;
  line-height: 80px;
  }
}


}
