
.section {
font-family: 'Oxygen', sans-serif;
font-weight: 400;
}

.intro {
  font-size:50px;
  margin-left:50px;
  margin-top:20px;
  margin-bottom:40px;
  padding-left: 40px;
  padding-right: 60px;
}

.description {
  font-size:25px;
  line-height:40px;
  margin-left:50px;
  margin-top:20px;
  margin-bottom:40px;
  padding-left: 40px;
  padding-right: 60px;
}

.title {
  font-size: 60px;
  padding-left: 85px;
}

.pink {
  color:#E581B4
}


@media (max-width:991px) {
  h1{
    font-size:72px;
  }
  h2{
    font-size:60px;
  }
  .description{
    font-size:20px;
  }
}
